<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
  </head>
  <body>

    {{> header}}
    <p><b>Gal Bashan is 20 years old female.</b></p>
    <p>she lives in Haifa, the city of the small-headed-people of israel.<p>
    <p>her main hobbies:<p>
      <p>hanging upside down.</p>
      <p>making cannon balls (or meatballs, no one can tell the difference).</p>
      <p>playing kitchen-moving and bomb-defusing video games.</p>
    <p><b>her favorite food:</b><p>
      <p>tomer's brain.</p>

    {{> footer}}
  </body>
</html>
