<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
  </head>
  <body>

    {{> header}}
    <p><b>Gal Bashan is 20 years old female.</b></p>
    <p>she lives in Haifa, the city of the small-headed-people of israel.<p>
      <h2>her main hobbies:</h2>

  <ul>
    <li>hanging upside down</li>
    <li>making cannon balls (or meatballs, no one can tell the difference)</li>
    <li>playing kitchen-moving and bomb-defusing video games</li>
    <li>steal lightweight silicone pots</li>
  </ul>
      <h2>her favorite food:</h2>

    <ul>
      <li>Tomer's Brain</li>

    </ul>  
    {{> footer}}
  </body>
</html>
